<div class="mb-3">
  <label for="exampleFormControlInputcolor" class="form-label"
    >Renklerde Arama Yap</label
  >
  <input
    type="email"
    class="form-control"
    [(ngModel)]="filterText"
    id="exampleFormControlInputcolor"
    placeholder="Renk kelimesini yazınız"
  />
</div>
<ul class="list-group">
  <li
    href="#"
    class="list-group-item list-group-item-action active"
    aria-disabled="true"
  >
    Renkler
  </li>
  <li
    routerLink="/cars/GetCarListWithColor/{{ color.id }}"
    (click)="setCurrentColor(color.colorName)"
    *ngFor="let color of colors |filterPipeColors:filterText"
    [class]="getCurrentColorClass(color.colorName)"
  >
    {{ color.colorName }}
  </li>
  <li
    routerLink="/cars"
    (click)="clearCurrentColor()"
    [class]="getAllCarClass()"
  >
    Tüm Arabalar
  </li>
</ul>
<!-- <h5 *ngIf="currentColor">{{currentColor}}</h5> -->
