<ul class="list-group">
  <li
    href="#"
    class="list-group-item list-group-item-action active"
    aria-disabled="true"
  >
    Renkler
  </li>
  <li
    routerLink="/cars/GetCarListWithColor/{{ color.id }}"
    (click)="setCurrentColor(color.colorName)"
    *ngFor="let color of colors"
    [class]="getCurrentColorClass(color.colorName)"
  >
    {{ color.colorName }}
  </li>
  <li
    routerLink="/cars"
    (click)="clearCurrentColor()"
    [class]="getAllCarClass()"
  >
    Tüm Arabalar
  </li>
</ul>
<!-- <h5 *ngIf="currentColor">{{currentColor}}</h5> -->
