<table class="table">
  <thead>
    <tr>
      <th scope="col">Araba Adı</th>
      <th scope="col">Marka Adı</th>
      <th scope="col">Renk Adı</th>
      <th scope="col">Kiralama Ücreti</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{ car.id }}</td>
      <td>{{ car.brandId }}</td>
      <td>{{ car.colorId }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>
       <a routerLink="/cars/GetCarById/{{car.id}}" class="link-primary">Detay</a>
      </td>
    </tr>
  </tbody>
</table>
