<table class="table">
  <thead>
    <tr>
      <th scope="col">Araba Adı</th>
      <th scope="col">Marka Adı</th>
      <th scope="col">Renk Adı</th>
      <th scope="col">Kiralama Ücreti</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of carList">
      <td>{{ car.carId }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>
        <a
          routerLink="/cars/GetCarDetailsWithImage/{{ car.carId }}"
          class="link-primary"
          >Detay</a
        >
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
